body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.link {
    display: block;
    margin: 50px auto;
    width: 200px;
    text-align: center;
    color: white;
    background: #3d67a6;
    padding: 10px 0;
    border: 2px solid #222;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    text-shadow: 0 0 7px rgba(0,0,0,0.4);
    text-decoration: none;
}
